/***************
 * FONT FAMILY *
 ***************/

@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Inter&family=Karla&display=swap');


$karla: 'Karla', sans-serif;
$inter: 'Inter', sans-serif;
$arimo: 'Arimo', sans-serif;